@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
:root {
  --color1: #E6E6E9;
  --color2: #636366;
  --color3: #88a2aa;
  --color4: #C8E6C9;
  --color5: #FFCDD2;
  --color6: #FEEDAF;

  --moviesbg: #F8F8FA;
  --headerbg: #E7E9ED;
}

html, body {
  background-color: var(--color1);
}
